header{
	grid-template-columns: 15% 85%;
	margin-bottom: 10px;
	grid-gap:5px
}
header,header ul,footer{
	display: grid;
}
header img{
	width: 100%;
}
header ul{
	grid-template-columns: repeat(5, 1fr);
	margin: 25px;
	margin-left:550px;
	font-size:20px;

}
header a,footer a{
	text-decoration:none;
}
header,footer{
	background-color: #000;

}
/*footer styles */
footer{
	grid-template-columns:repeat(4,1fr);
	margin-bottom: 10px;
	grid-gap:5px;
}
.white{
	color: #fff;
}
a{
	text-decoration: none;
	font-size: 18px;
}

/*banner styles */
.bannerBlock img{
	width: 100%;
	height: 700px;
}
.block1{
 display:grid;
 grid-template-columns:repeat(3,1fr);
 margin :5px;
}
.A1 img{
	width:100%	;
	height:100px;
	border-radius: 50%;
}
h1{
	font-size:x-large;
	margin-bottom:0px;
	margin-top:0px;
}
p{
	font-size:large;
	margin:1px;
}
.main{
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

.foot{
	display: grid;
	grid-template-columns: repeat(3,1fr);
}